<nav class="main-nav">
    <div class="container">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/teams">Équipes</a></li>
            <li><a href="/players">Joueurs</a></li>
            <li><a href="/games">Matchs</a></li>
        </ul>
    </div>
</nav>
