<!DOCTYPE html>
<html>
<head>
    <!-- ... autres balises head ... -->
</head>
<body>
    {{ navbar}}
    
    <div class="container mt-4">
        {{{body}}}
    </div>

    <!-- Scripts -->
    <script src="/js/auth.js"></script>
    <!-- ... autres scripts ... -->
</body>
</html> 